<%inherit file="/page_base.html" />

<%def name="page_name()">File Manager</%def>

<div id="tree"></div>

<script>
    $(document).ready(function(){
        //$('#result').text("Getting data...");
        ONERING.getJSON('/data/test', function(json) {
            //var data = json[1].name;
            //$('#result').text("data: " + data);
            var tree = document.getElementById("tree");
            tree.appendChild(to_ul(json));
        });
    });
function to_ul (json_list) {
  // --------v create an <ul> element
  var f, li, ul = document.createElement ("ul");
  // --v loop through its children
  for (f = 0; f < json_list.length; f++) {
    li = document.createElement ("li");
    li.appendChild (document.createTextNode (json_list[f].name));
    //alert(json_list[f].name);
    // if the child has a 'folder' prop on its own, call me again
    if (json_list[f].childs && json_list[f].childs.length>0) {
      li.appendChild (to_ul (json_list[f].childs));
    }
    ul.appendChild (li);
  }
  return ul;
}
</script>
