<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SEO Tools</title>
    <script type="text/javascript" src="onering://onering/onering.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css"></style>
</head>
<body>
    <article>
        <ul>
            <li><a href="/about">关于..</a></li>
            <!-- <li><a href="/filemgr">文章管理器</a></li> -->
            <li><a href="/filelist">文件列表</a></li>
            <li><a href="/batchweight">权重查询</a></li>
            <li><a href="/queryexlink">外链查询</a></li>
            <li><a href="/lusongsong">lusongsong</a></li>
            <!-- <li><a href="/autosend">文章发布</a></li> -->
        </ul>
    </article>
    <footer id="page_footer">
<!--        <a href="javascript:ONERING.getCurrentWindow().showInspector()">Show Inspector</a>
 -->
    </footer>
    <script>
        ONERING.bind('aboutToQuit', function() { ONERING.log("Demo quit.") });
    </script>
</body>
</html>
