<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>SeoTools - ${self.page_name()}</title>
<script type="text/javascript" src="onering://onering/onering.js"></script>
<script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
    ${self.js()}
</script>
${self.extra_head()}
<style type="text/css" src="/static/style.css"></style>
<style type="text/css">
    ${self.css()}
</style>
</head>
<body>
    <article>
        ${next.body()}
    </article>
    <footer id="page_footer">
        <a href="/">&lt; Back to the homepage</a>
        | <a href="javascript:ONERING.getCurrentWindow().showInspector()">Show Inspector</a>
    </footer>
</body>
</html>

<%def name="page_name()"></%def>

<%def name="js()"></%def>
<%def name="extra_head()"></%def>
<%def name="css()"></%def>
